[run]
omit=  /home/nineleaps/PycharmProjects/CabBooking/venv/*,/home/nineleaps/PycharmProjects/CabBooking/tests/*,
           /home/nineleaps/PycharmProjects/CabBooking/data_visualization.py,
           /home/nineleaps/PycharmProjects/CabBooking/send_daily_mail.py,
           /home/nineleaps/PycharmProjects/CabBooking/venvs/*


[report]

exclude_lines =
    if __name__ == .__main__.: