[run]
omit=  /home/nineleaps/PycharmProjects/Cab Booking/venv/*,/home/nineleaps/PycharmProjects/Cab Booking/tests/*,
           /home/nineleaps/PycharmProjects/Cab Booking/data_visualization.py,
           /home/nineleaps/PycharmProjects/Cab Booking/send_daily_mail.py


[report]

exclude_lines =
    if __name__ == .__main__.: